Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2020-12, with the labels that each got.

#191 [Workflow] CodeQL Analysis to detect security issues
  .github/workflows/codeql.yml
Labels: enhancement

#189 Fix accessible confidential information that is recorded in unencrypt…
  src/controller/securemgr/authenticator/authenticator.go
Labels: enhancement

#188 [Logmgr] How to use
  doc/logmgr.md
Labels: documentation

#194 Change the name of build workflow
  .github/workflows/edge-home-orchestration-go.yml
Labels: bug

#192 Increase test coverage of securemgr
  src/controller/securemgr/authenticator/authenticator_test.go
  src/controller/securemgr/authorizer/authorizer.go
  src/controller/securemgr/authorizer/authorizer_test.go
  src/controller/securemgr/verifier/verifier_test.go
Labels: bug

#197 [doc] Version update for Platform support
  README.md
Labels: documentation

#195 [Builder ]StorageMgr Refactoring
  GoMain/src/main/main.go
  build.sh
  glide.yaml
  src/controller/storagemgr/storage.go
  src/orchestrationapi/orchestration.go
  src/orchestrationapi/orchestration_api.go
Labels: bug

#193 Fix 10 alerts from LGTM (#171)
  src/controller/discoverymgr/mnedc/client/client.go
  src/controller/storagemgr/storagedriver/storagehandler.go
  src/interfaces/javaapi/javaapi.go
Labels: bug

#201 Fix CWE-563 & discoverymgr testing
  src/controller/discoverymgr/discovery.go
  src/controller/discoverymgr/discovery_test.go
Labels: bug

#202 Update the analysis badges
  README.md
Labels: documentation

#204 Remove unused variable
  src/controller/discoverymgr/mnedc/client/client.go
Labels: bug

#198 [Logmgr] Apply logmgr to most of source code
  src/common/networkhelper/detector/detector_netlink.go
  src/common/networkhelper/networkhelper.go
  src/common/resourceutil/cpu.go
  src/common/resourceutil/cpu/cpu.go
  src/common/resourceutil/memory.go
  src/common/resourceutil/network.go
  src/common/resourceutil/resourceutil.go
  src/common/resourceutil/resourceutil_test.go
  src/common/resourceutil/roundtriptime.go
  src/common/sigmgr/sigmgr.go
  src/controller/configuremgr/native/native.go
  src/controller/discoverymgr/mnedc/client/client.go
  src/controller/discoverymgr/mnedc/clientcontrol.go
  src/controller/discoverymgr/mnedc/server/client_conn.go
  src/controller/discoverymgr/mnedc/server/server.go
  src/controller/discoverymgr/mnedc/servercontrol.go
  src/controller/discoverymgr/mnedc/tunmgr/tun.go
  src/controller/discoverymgr/wrapper/wrapper.go
  src/controller/securemgr/authenticator/authenticator.go
  src/controller/securemgr/authorizer/authorizer.go
  src/controller/securemgr/verifier/verifier.go
  src/controller/servicemgr/executor/androidexecutor/androidexecutor.go
  src/controller/servicemgr/executor/containerexecutor/config.go
  src/controller/servicemgr/executor/containerexecutor/containerexecutor.go
  src/controller/servicemgr/executor/nativeexecutor/nativeexecutor.go
  src/controller/servicemgr/notification/notification.go
  src/controller/storagemgr/storagedriver/storagedriver.go
  src/orchestrationapi/orchestration.go
  src/orchestrationapi/orchestration_api.go
  src/restinterface/cipher/dummy/cipherDummy.go
  src/restinterface/cipher/sha256/cipherSHA256.go
  src/restinterface/client/restclient/restclient.go
  src/restinterface/externalhandler/externalhandler.go
  src/restinterface/externalhandler/senderresolver/senderresolver.go
  src/restinterface/internalhandler/internalhandler.go
  src/restinterface/resthelper/helper.go
  src/restinterface/route/route.go
  src/restinterface/route/tlspskserver/tlspskserver.go
  src/restinterface/tls/tls.go
Labels: enhancement

#203 Fix critical CWE-079,CWE-116
  src/controller/storagemgr/storagedriver/storagehandler.go
Labels: bug
