Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2020-09, with the labels that each got.

#124 Improvement of README
  README.md
Labels: documentation

#126 Fix ability build directly on different target platforms
  build.sh
Labels: enhancement

#125 Add support hikey960 board
  README.md
  doc/platforms/hikey960/hikey960.md
  doc/platforms/hikey960/hikey960.png
Labels: documentation, enhancement

#122 Calculate scores by collecting resource information from all edge devices
  src/controller/scoringmgr/scoringmgr.go
  src/orchestrationapi/orchestration.go
  src/orchestrationapi/orchestration_api.go
  src/restinterface/client/client.go
  src/restinterface/client/restclient/restclient.go
  src/restinterface/externalhandler/externalhandler.go
  src/restinterface/internalhandler/internalhandler.go
Labels: enhancement

#130 Revision of documentation to remove duplication of information
  doc/platforms/hikey960/hikey960.md
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#133 Fix useless assignment to local variable
  src/orchestrationapi/orchestration_api.go
Labels: enhancement
