Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2020-07, with the labels that each got.

#101 Fix the RTT value initialization during device discovery
  src/controller/discoverymgr/discovery.go
Labels: bug

#97 Fix typos at DoGetWithBody
  src/restinterface/resthelper/helper.go
Labels: bug

#105 Import package docker to solve build failure
  src/controller/servicemgr/executor/containerexecutor/ce_docker.go
Labels: bug

#103 PR template document enhancement
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#99 Updating doc in accordance with "#92 Added architecture option in bui…
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#106 Let the container's log print while it's running
  src/controller/servicemgr/executor/containerexecutor/ce_docker.go
  src/controller/servicemgr/executor/containerexecutor/containerexecutor.go
  src/controller/servicemgr/executor/containerexecutor/containerexecutor_test.go
Labels: bug

#94 Add initialization of verifier and authenticator in OrchestrationInit…
  src/interfaces/capi/main.go
  src/interfaces/javaapi/javaapi.go
Labels: bug

#108 Add signalmgr to manage the edge orchestrator by signal
  GoMain/run.sh
  GoMain/src/main/main.go
  build.sh
  glide.yaml
  src/common/sigmgr/sigmgr.go
Labels: enhancement

#111 Delete connection refused device info from netDB
  src/common/resourceutil/roundtriptime.go
Labels: bug

#96 Rsa authentication external api
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_linux.md
  doc/secure_manager.md
  src/controller/securemgr/authenticator/authenticator.go
  tools/jwt_gen.sh
Labels: enhancement

#114 Add documentation for build java-object
  doc/platforms/x86_64_linux/x86_64_android.md
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation
