Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2020-10, with the labels that each got.

#138 Add a github workflow to trigger push and PR workflow in order to check build failure
  .github/workflows/edge-home-orchestration-go.yml
Labels: enhancement

#140 Update CONTRIBUTING.md as applying the merged PR #138
  .github/CONTRIBUTING.md
Labels: documentation

#142 Update README.md
  README.md
Labels: documentation

#145 Update README.md (CII BP Badge Process Progress)
  README.md
Labels: documentation

#150 Add reference on glide description
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#151 Updated missing Copyright statements
  src/controller/scoringmgr/mocks/mocks_scoringmgr.go
  src/controller/servicemgr/executor/mocks/mocks_executor.go
  src/controller/servicemgr/mocks/mocks_servicemgr.go
  src/controller/servicemgr/notification/mocks/notification_mock.go
Labels: Coconut, documentation

#152 Rectified the Indentation in build script
  build.sh
Labels: Coconut, documentation

#153 Rectified the Indentation
  build.sh
Labels: Coconut

#158 This PR adds the Data Storage Functionality
  GoMain/Dockerfile
  GoMain/run.sh
  GoMain/src/main/main.go
  build.sh
  doc/images/Datastorage_architecture.jpg
  glide.yaml
  samples/datastorage/configuration.toml
  samples/datastorage/sample-json-device.yaml
  src/controller/discoverymgr/discovery.go
  src/controller/storagemgr/error/errorconstants.go
  src/controller/storagemgr/storagedriver/storagedriver.go
  src/controller/storagemgr/storagedriver/storagehandler.go
  src/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: Coconut, enhancement

#159 Fix the runtime error by checking the datastorage conf file.
  GoMain/src/main/main.go
  build.sh
Labels: Coconut, bug

#161 Data Storage Documentation
  README.md
  doc/datastorage.md
  doc/images/System-description-of-Data-Storage.png
Labels: Coconut, documentation

#160 Fixed a blocking by calling it in a go routine
  GoMain/src/main/main.go
Labels: Coconut, bug

#162 Data Storage Document Revision
  doc/datastorage.md
Labels: Coconut, documentation

#163 Merge pull request from lf-edge/DataStorage to master
  GoMain/Dockerfile
  GoMain/run.sh
  GoMain/src/main/main.go
  README.md
  build.sh
  doc/datastorage.md
  doc/images/Datastorage_architecture.jpg
  doc/images/System-description-of-Data-Storage.png
  doc/platforms/x86_64_linux/x86_64_linux.md
  glide.yaml
  samples/datastorage/configuration.toml
  samples/datastorage/sample-json-device.yaml
  src/controller/discoverymgr/discovery.go
  src/controller/storagemgr/error/errorconstants.go
  src/controller/storagemgr/storagedriver/storagedriver.go
  src/controller/storagemgr/storagedriver/storagehandler.go
  src/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: Coconut, enhancement

#164 Changed MNEDC Server Port from 8000 to 3334
  GoMain/Dockerfile
  samples/mnedc/client.config
  src/controller/mnedcmgr/types.go
Labels: Coconut, bug
