Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2020-11, with the labels that each got.

#165 Update the datastorage document and sample code
  doc/datastorage.md
  samples/datastorage/configuration.toml
Labels: documentation

#166 Remove the getDeviceID() in mnedc duplicated with the GetDeviceID() in discoverymgr
  src/controller/mnedcmgr/clientcontrol.go
  src/controller/mnedcmgr/servercontrol.go
Labels: bug

#157 Fix copyright date
  GoMain/src/main/main.go
  src/common/networkhelper/networkhelper.go
  src/common/networkhelper/networkhelper_test.go
  src/controller/discoverymgr/discovery.go
  src/controller/discoverymgr/discovery_test.go
  src/controller/discoverymgr/types.go
  src/controller/scoringmgr/mocks/mocks_scoringmgr.go
  src/interfaces/capi/main.go
  src/interfaces/javaapi/javaapi.go
  src/orchestrationapi/orchestration.go
  src/orchestrationapi/orchestration_api.go
  src/orchestrationapi/orchestration_test.go
  src/orchestrationapi/orchestrationapi_test.go
  src/restinterface/client/client.go
  src/restinterface/client/mocks/mocks_client.go
  src/restinterface/client/restclient/restclient.go
  src/restinterface/client/restclient/restclient_test.go
  src/restinterface/internalhandler/internalhandler.go
  src/restinterface/internalhandler/internalhandler_test.go
Labels: documentation

#167 Update golang recommended version for RPi
  doc/platforms/raspberry_pi3/raspberry_pi3.md
Labels: documentation

#148 Add init version of RBAC
  GoMain/src/main/main.go
  build.sh
  doc/platforms/x86_64_linux/x86_64_linux.md
  doc/platforms/x86_64_linux/x86_64_native.md
  doc/secure_manager.md
  glide.yaml
  src/controller/securemgr/authenticator/authenticator.go
  src/controller/securemgr/authorizer/authorizer.go
  src/controller/securemgr/authorizer/authorizer_test.go
  src/interfaces/capi/main.go
  src/interfaces/javaapi/javaapi.go
  tools/jwt_gen.sh
Labels: enhancement

#169 Get the modes of secure and mnedc from the os enviroment
  GoMain/src/main/main.go
Labels: enhancement

#170 Update the doc related to environment variables
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#174 x86 platform build guide doc revision - the wrong spacing
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#177 Moved the MNEDC server/client interrupt logic to sigmgr
  src/common/sigmgr/sigmgr.go
  src/controller/mnedcmgr/client/client.go
  src/controller/mnedcmgr/client/client_test.go
  src/controller/mnedcmgr/clientcontrol.go
  src/controller/mnedcmgr/clientcontrol_test.go
  src/controller/mnedcmgr/server/server.go
  src/controller/mnedcmgr/servercontrol.go
  src/controller/mnedcmgr/servercontrol_test.go
Labels: refactoring

#180 Moved mnedc logic to discoverymgr, which fixes #178
  GoMain/src/main/main.go
  build.sh
  glide.yaml
  src/common/sigmgr/sigmgr.go
  src/controller/discoverymgr/discovery.go
  src/controller/discoverymgr/mnedc/client/client.go
  src/controller/discoverymgr/mnedc/client/client_test.go
  src/controller/discoverymgr/mnedc/client/mocks/mocks_client.go
  src/controller/discoverymgr/mnedc/clientcontrol.go
  src/controller/discoverymgr/mnedc/clientcontrol_test.go
  src/controller/discoverymgr/mnedc/connectionutil/mocks/mocks_connection.go
  src/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  src/controller/discoverymgr/mnedc/server/client_conn.go
  src/controller/discoverymgr/mnedc/server/client_conn_test.go
  src/controller/discoverymgr/mnedc/server/mocks/mocks_server.go
  src/controller/discoverymgr/mnedc/server/server.go
  src/controller/discoverymgr/mnedc/servercontrol.go
  src/controller/discoverymgr/mnedc/servercontrol_test.go
  src/controller/discoverymgr/mnedc/tunmgr/mocks/mocks_tun.go
  src/controller/discoverymgr/mnedc/tunmgr/tun.go
  src/controller/discoverymgr/mnedc/types.go
  src/interfaces/capi/main.go
Labels: refactoring

#181 Fix the build error occurred for arm architecture on PC
  GoMain/Dockerfile
  build.sh
  doc/platforms/hikey960/hikey960.md
  doc/platforms/raspberry_pi3/raspberry_pi3.md
Labels: bug

#185 Apply the logrus library to logmgr
  GoMain/src/main/main.go
  glide.yaml
  src/common/logmgr/logmgr.go
  src/controller/discoverymgr/discovery.go
  src/controller/servicemgr/executor/containerexecutor/config.go
Labels: enhancement

#186 Update the logmgr test code to pass all cases
  src/common/logmgr/logmgr.go
  src/common/logmgr/logmgr_test.go
Labels: bug
