Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-02, with the labels that each got.

#251 Fix all warning that were found by the vet
  src/common/errormsg/errormsg_test.go
  src/controller/scoringmgr/mock_internal/mock_lib_add.go
  src/orchestrationapi/orchestrationapi.go
Labels: bug, refactoring

#256 Add github.com/grandcat/zeroconf@v1.0.0 to third_party/zeroconf/
  build.sh
  go.mod
  third_party/zeroconf/.gitignore
  third_party/zeroconf/.travis.yml
  third_party/zeroconf/LICENSE
  third_party/zeroconf/README.md
  third_party/zeroconf/client.go
  third_party/zeroconf/connection.go
  third_party/zeroconf/doc.go
  third_party/zeroconf/edgeserver.go
  third_party/zeroconf/go.mod
  third_party/zeroconf/server.go
  third_party/zeroconf/service.go
  third_party/zeroconf/utils.go
Labels: refactoring

#257 Fix securemgr lint warnings
  src/controller/securemgr/authenticator/authenticator.go
  src/controller/securemgr/authorizer/authorizer.go
  src/controller/securemgr/verifier/verifier.go
  src/controller/securemgr/verifier/verifier_test.go
  src/restinterface/externalhandler/externalhandler.go
Labels: bug, refactoring

#255 Add code analysis using the lint and vet tools to github->actions->wo…
  .github/workflows/build.yml
  .github/workflows/lint-vet-analysis.yml
  .github/workflows/test-suite.yml
Labels: enhancement

#249 Fix Native and Android Build Failure
  Makefile
  build.sh
  go.mod
Labels: bug

#258 Change an env in TC in order to avoid a hard-coded credential issue
  src/controller/servicemgr/executor/containerexecutor/containerexecutor_test.go
Labels: bug

#259 [Refactoring] Use cmd and build folders by Standard Go Project Layout
  .gitignore
  Builder/Dockerfile
  Builder/container.sh
  Dockerfile
  Makefile
  build.sh
  build/package/run.sh
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
Labels: refactoring

#260 Add sonarcloud configuration file
  .sonarcloud.properties
Labels: enhancement

#262 Add raspberry pi3 cluster
  README.md
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/raspberry_pi3_cluster/raspberry_pi3_cluster.jpg
  doc/platforms/raspberry_pi3_cluster/raspberry_pi3_cluster.md
Labels: documentation, enhancement

#263 Adaptation of documentation to Standard Go folder layout
  doc/platforms/hikey960/hikey960.md
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_android.md
  doc/platforms/x86_64_linux/x86_64_native.md
  samples/native/test/Makefile
Labels: bug, documentation

#264 Refactore securemgr:verifier
  src/controller/securemgr/verifier/verifier.go
  src/controller/securemgr/verifier/verifier_test.go
Labels: refactoring

#265 [Refactoring] Remove Code Smell, apply CamelCase, etc
  cmd/edge-orchestration/capi/main.go
  src/common/commandvalidator/commands/commands.go
  src/common/commandvalidator/commandvalidator.go
  src/common/requestervalidator/requesterstore/requesterstore.go
  src/common/requestervalidator/requestervalidator.go
  src/controller/configuremgr/container/container.go
  src/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  src/controller/discoverymgr/mnedc/tunmgr/tun.go
  src/controller/scoringmgr/scoringmgr.go
  src/orchestrationapi/orchestrationapi.go
  src/orchestrationapi/orchestrationapi_test.go
  src/restinterface/externalhandler/externalhandler.go
  src/restinterface/externalhandler/externalhandler_test.go
  src/restinterface/externalhandler/senderresolver/senderresolver.go
  src/restinterface/externalhandler/senderresolver/senderresolver_test.go
Labels: refactoring

#266 Replacing the use of the apt with the apt-get in Dockerfile
  Dockerfile
Labels: bug

#267 Use api, docs, examples and test folders by Standard Go Project Layout
  .github/CONTRIBUTING.md
  .gitignore
  README.md
  api/edge_orchestration_api.yaml
  api/edge_orchestration_api_secure.yaml
  configs/datastorage/configuration.toml
  configs/datastorage/sample-json-device.yaml
  configs/mnedc/client.config
  docs/datastorage.md
  docs/home_edge_glossary.md
  docs/images/Datastorage_architecture.jpg
  docs/images/System-description-of-Data-Storage.png
  docs/images/lf-edge-intro_400.png
  docs/images/lf-edge_intro.png
  docs/images/logo/lf-edge_128.png
  docs/images/logo/lf-edge_64.png
  docs/logmgr.md
  docs/mnedc.md
  docs/platforms/hikey960/hikey960.md
  docs/platforms/hikey960/hikey960.png
  docs/platforms/raspberry_pi3/raspberry_pi3.jpg
  docs/platforms/raspberry_pi3/raspberry_pi3.md
  docs/platforms/raspberry_pi3_cluster/raspberry_pi3_cluster.jpg
  docs/platforms/raspberry_pi3_cluster/raspberry_pi3_cluster.md
  docs/platforms/x86_64_linux/x86_64_android.md
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/platforms/x86_64_linux/x86_64_linux.png
  docs/platforms/x86_64_linux/x86_64_native.md
  docs/secure_manager.md
  docs/testing_policy.md
  examples/native/Makefile
  examples/native/main.c
  test/native/copy_srvs.sh
  test/native/ls_srv/ls_srv.conf
  tools/create_fs.sh
Labels: refactoring

#268 Delete all device information before starting device discovery
  src/controller/discoverymgr/discovery.go
Labels: bug

#270 Fix broken links
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#274 [MNEDC] Change of DB Clearing logic on Network Signal from Kernel
  src/common/networkhelper/detector/detector_netlink.go
  src/common/networkhelper/detector/detector_netlink_test.go
  src/common/networkhelper/networkhelper.go
  src/controller/discoverymgr/mnedc/tunmgr/tun.go
Labels: bug
