Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-07, with the labels that each got.

#290 Remove Ubuntu-16.04 as a target platform for build and test due to th…
  .github/workflows/build.yml
  .github/workflows/test-suite.yml
Labels: bug

#327 Fix gofmt warnings and add auto check in github->action->workflow
  .github/CONTRIBUTING.md
  .github/workflows/lint-vet-gofmt-analysis.yml
  Makefile
  cmd/edge-orchestration/javaapi/javaapi.go
  internal/common/fscreator/fscreator_test.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/discoverymgr/wrapper/mocks/mocks_wrapper.go
  internal/controller/storagemgr/config/yaml.go
  internal/controller/storagemgr/config/yaml_test.go
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/db/helper/helper_test.go
Labels: documentation, refactoring

#330 Added configuration of the basic docker image
  .github/workflows/build.yml
  .gitignore
  Kconfig
  Makefile
  configs/defconfigs/arm64c
  configs/defconfigs/armc
  configs/defconfigs/x86_64a
  configs/defconfigs/x86_64c
  configs/defconfigs/x86_64cmc
  configs/defconfigs/x86_64cms
  configs/defconfigs/x86_64cs
  configs/defconfigs/x86_64n
  configs/defconfigs/x86c
  configs/defdockerfiles/ubuntu
  docs/mnedc.md
  docs/platforms/hikey960/hikey960.md
  docs/platforms/orange_pi3/orange_pi3.md
  docs/platforms/raspberry_pi3/raspberry_pi3.md
  docs/platforms/x86_64_linux/x86_64_android.md
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/platforms/x86_64_linux/x86_64_native.md
Labels: enhancement, refactoring

#332 [DataStorage] Add a route for a reading that doesn't require device name
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: enhancement

#333 [Refactoring] Adaptation of the build system to use the go1.16.4
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-vet-gofmt-analysis.yml
  .github/workflows/test-suite.yml
  Makefile
  go.mod
Labels: bug

#338 Fix error during build directly on the arm board
  Makefile
Labels: bug, high priority

#337 Add the help, when the create_context command was not entered with al…
  Makefile
  docs/platforms/hikey960/hikey960.md
  docs/platforms/orange_pi3/orange_pi3.md
  docs/platforms/raspberry_pi3/raspberry_pi3.md
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: bug

#339 Add support alpine as base docker image of edge-orchestration
  configs/defconfigs/armc_alpine
  configs/defconfigs/x86_64c_alpine
  configs/defdockerfiles/alpine
  configs/defdockerfiles/ubuntu
Labels: enhancement

#340 [DataStorage] Add a route that doesn't require device name parameter for multiple readings
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: enhancement

#342 Add checking the build of the native part in github->actions->workflo…
  .github/workflows/build.yml
Labels: refactoring
