Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-05, with the labels that each got.

#297 [DataStorage] Add a docker-compose.yml to run edgex containers
  deployments/datastorage/docker-compose.yml
Labels: bug

#301 [DataStorage] API for String , Images (png, jpeg)
  configs/datastorage/datastorage-device.yaml
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: enhancement, high priority

#303 [Refactoring] build.sh file and tools/create_fs.sh file
  build.sh
  tools/create_fs.sh
Labels: refactoring

#305 [DataStorage] Initial code to create the configuration.toml file while edge-orchestration is running
  go.mod
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/config/toml_test.go
Labels: enhancement
