Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-03, with the labels that each got.

#277 [MNEDC] Update mnedc/client TC
  .github/workflows/test-suite.yml
  docs/testing_policy.md
  internal/controller/discoverymgr/mnedc/client/client_test.go
Labels: bug

#279 [Refactoring] Build Script in terms of TC
  build.sh
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: refactoring

#280 [MNEDC]Resolving: SonarCloud defects for hardcoded IP
  internal/controller/discoverymgr/mnedc/server/client_conn_test.go
  internal/controller/discoverymgr/mnedc/server/mocks/mocks_server.go
  internal/controller/discoverymgr/mnedc/server/server.go
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/discoverymgr/mnedc/servercontrol_test.go
  internal/controller/discoverymgr/mnedc/types.go
Labels: bug, high priority

#281 [Refactoring] Build Script in terms of Duplicate Code Removal
  build.sh
Labels: refactoring

#282 [MNEDC] Changed config to YAML format
  .github/workflows/test-suite.yml
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/main.go
  configs/mnedc/client-config.yaml
  configs/mnedc/client.config
  docs/mnedc.md
  go.mod
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/discoverymgr/mnedc/client/client.go
  internal/controller/discoverymgr/mnedc/client/client_test.go
  internal/controller/discoverymgr/testdata/client-config.yaml
  internal/controller/discoverymgr/testdata/client.config
  internal/controller/discoverymgr/types.go
Labels: enhancement, refactoring

#283 Add the quality gate pass result from SonarCloud
  README.md
Labels: documentation

#284 [Refactoring] Merge ResponseJSON() into Response() due to similar functionality
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/discoverymgr/mnedc/servercontrol_test.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/externalhandler/externalhandler_test.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/internalhandler/internalhandler_test.go
  internal/restinterface/resthelper/helper.go
  internal/restinterface/resthelper/helper_test.go
  internal/restinterface/resthelper/mocks/mocks_helper.go
Labels: refactoring

#285 [Refactoring] Add a variable storing cipher algorithm for ease of use
  cmd/edge-orchestration/main.go
Labels: refactoring

#288 Fix inaccuracies founded by Go Report Card system
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/main.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/securemgr/verifier/verifier.go
  internal/controller/servicemgr/executor/containerexecutor/containerexecutor.go
  internal/controller/servicemgr/notification/notification.go
  internal/orchestrationapi/orchestration.go
  internal/restinterface/cipher/dummy/cipher_test.go
  internal/restinterface/cipher/sha256/cipher_test.go
Labels: refactoring
