Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-04, with the labels that each got.

#292 Fix Runtime Error in terms of DataStorage in Native
  cmd/edge-orchestration/capi/main.go
Labels: bug

#287 [Refactoring] Add a variable storing cipher algorithm for native and …
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
Labels: refactoring

#293 Add support of Orange Pi3 board
  README.md
  docs/platforms/orange_pi3/orange_pi3.jpg
  docs/platforms/orange_pi3/orange_pi3.md
Labels: documentation, enhancement

#294 [DataStorage] Change DataStorage configuration path to relative
  internal/controller/storagemgr/storage.go
Labels: bug

#295 Add guide "how to add new platform"
  README.md
  docs/how-to-add-new-platform.md
  docs/images/add-new-platform_150.png
  docs/platforms/raspberry_pi3/raspberry_pi3.md
Labels: documentation, enhancement
