Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-01, with the labels that each got.

#205 Copyright Correction
  src/controller/storagemgr/storagedriver/storagedriver.go
  src/controller/storagemgr/storagedriver/storagehandler.go
  src/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: documentation, invalid

#212 Fix some inaccuracies in tests
  src/common/networkhelper/networkhelper_test.go
  src/controller/configuremgr/native/native_test.go
  src/controller/discoverymgr/mnedc/server/client_conn_test.go
  src/controller/securemgr/verifier/verifier_test.go
  src/controller/servicemgr/executor/containerexecutor/containerexecutor_test.go
  src/controller/servicemgr/notification/notification_test.go
  src/interfaces/capi/main.go
  src/interfaces/javaapi/javaapi.go
  src/restinterface/cipher/dummy/cipher_test.go
  src/restinterface/cipher/sha256/cipher_test.go
Labels: bug

#221 TC for containerexecutor
  go.mod
  src/controller/servicemgr/executor/containerexecutor/config_test.go
  src/controller/servicemgr/executor/containerexecutor/containerexecutor_test.go
Labels: bug, refactoring

#218 Remove Glide from workflows
  .github/workflows/codeql.yml
  .github/workflows/edge-home-orchestration-go.yml
Labels: refactoring

#220 Bug Fix in Client Control
  src/controller/discoverymgr/mnedc/clientcontrol.go
Labels: bug

#224 Update storagemgr for the v1.4.0 "Hanoi" version of EdgeX Foundry Go Device SDK
  .gitignore
  go.mod
  src/controller/storagemgr/storagedriver/storagedriver.go
  src/controller/storagemgr/storagedriver/storagehandler.go
  src/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: refactoring

#216 Fix inaccuracies in documentation related to secure mode
  doc/edge_orchestration_api_secure.yaml
  doc/secure_manager.md
Labels: bug, documentation

#217 TC for sigmgr
  src/common/sigmgr/sigmgr_test.go
Labels: refactoring

#225 Update mocks of configuremgr
  src/controller/configuremgr/mocks/mocks_configuremgr.go
Labels: bug, refactoring

#223 Use etcd-io/bbolt instead of boltdb/bolt
  go.mod
  src/db/bolt/wrapper/wrapper.go
Labels: refactoring

#226 [MNEDC] Fix TC of mnedc/client
  src/controller/discoverymgr/mnedc/client/client_test.go
Labels: bug

#228 Update mocks of discoverymgr
  src/controller/discoverymgr/mocks/mocks_discoverymgr.go
Labels: bug, refactoring

#227 Add mocks of data storage
  src/controller/storagemgr/mocks/mocks_storage.go
Labels: refactoring

#232 Update mocks of mnedc/client
  src/controller/discoverymgr/mnedc/client/mocks/mocks_client.go
Labels: bug

#235 Remove debug messages in tests
  src/common/errormsg/errormsg_test.go
  src/controller/servicemgr/types_test.go
Labels: refactoring

#229 Add Test Suite to github workflow
  .github/workflows/edge-home-orchestration-go.yml
Labels: bug, enhancement

#230 Fix logmgr_test
  src/common/logmgr/logmgr_test.go
Labels: bug

#236 Remove all references to glide from the documentation
  Builder/Dockerfile
  doc/platforms/raspberry_pi3/raspberry_pi3.md
  doc/platforms/x86_64_linux/x86_64_android.md
  doc/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#234 Fix CWE-563 from LGTM
  src/controller/servicemgr/executor/containerexecutor/containerexecutor.go
Labels: bug

#239 TC for orchestrationapi
  src/orchestrationapi/orchestration_test.go
  src/orchestrationapi/orchestrationapi.go
Labels: bug

#240 TC for discoverymgr/mnedc
  src/controller/discoverymgr/mnedc/clientcontrol_test.go
  src/controller/discoverymgr/mnedc/servercontrol_test.go
  src/controller/discoverymgr/mnedc/testdata/deviceID.txt
Labels: bug

#244 Add support ubuntu_16.04 ubuntu_20.04 to Build workflow
  .github/workflows/edge-home-orchestration-go.yml
Labels: enhancement

#246 Leave TC of sigmgr with MNEDC as comments
  src/common/sigmgr/sigmgr_test.go
Labels: refactoring

#242 Add Security policy
  .github/SECURITY.md
  README.md
Labels: documentation

#243 Add Testing policy
  .github/CONTRIBUTING.md
  doc/testing_policy.md
Labels: documentation

#245 Move configAlternate from const to var to extend usability
  src/controller/discoverymgr/discovery_test.go
  src/controller/discoverymgr/testdata/client.config
  src/controller/discoverymgr/types.go
Labels: enhancement, refactoring

#247 configuremgr/native Module Refactoring
  src/controller/configuremgr/native/.gitignore
  src/controller/configuremgr/native/description/doc.go
  src/controller/configuremgr/native/mock/simulation.go
  src/controller/configuremgr/native/native_test.go
  src/controller/configuremgr/native/testdata/mysum/libmysum.so.1.0.1
  src/controller/configuremgr/native/testdata/mysum/mysum.conf
Labels: refactoring

#248 Reduction of excluded packages from Test Suite
  .github/workflows/edge-home-orchestration-go.yml
Labels: enhancement

#252 [IMPORTANT] Add support all platform for build on github->actions->workflow
  .github/workflows/edge-home-orchestration-go.yml
Labels: enhancement

#250 Fix important warnings that were found by the linter
  src/controller/scoringmgr/scoringmgr.go
  src/controller/securemgr/authenticator/authenticator.go
  src/controller/securemgr/authorizer/authorizer.go
  src/controller/securemgr/verifier/verifier.go
  src/orchestrationapi/orchestrationapi.go
  src/restinterface/internalhandler/internalhandler_test.go
Labels: bug, refactoring

#253 Update android build documentation
  doc/platforms/x86_64_linux/x86_64_android.md
Labels: documentation
