Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-06, with the labels that each got.

#307 Fix all gofmt warnings
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  internal/common/logmgr/logmgr.go
  internal/common/networkhelper/networkhelper_test.go
  internal/common/resourceutil/cpu/cpu.go
  internal/common/resourceutil/roundtriptime.go
  internal/controller/configuremgr/native/native.go
  internal/controller/configuremgr/native/native_test.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/discoverymgr/mnedc/client/client.go
  internal/controller/discoverymgr/mnedc/client/client_test.go
  internal/controller/discoverymgr/mnedc/clientcontrol.go
  internal/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  internal/controller/discoverymgr/mnedc/server/client_conn_test.go
  internal/controller/discoverymgr/mnedc/server/mocks/mocks_server.go
  internal/controller/discoverymgr/mnedc/server/server.go
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/discoverymgr/mnedc/servercontrol_test.go
  internal/controller/discoverymgr/mnedc/tunmgr/tun.go
  internal/controller/discoverymgr/mnedc/types.go
  internal/controller/discoverymgr/types.go
  internal/controller/discoverymgr/wrapper/wrapper.go
  internal/controller/servicemgr/executor/containerexecutor/ce_docker.go
  internal/controller/servicemgr/executor/mocks/mocks_executor.go
  internal/controller/servicemgr/executor/nativeexecutor/nativeexecutor.go
  internal/controller/servicemgr/mocks/mocks_servicemgr.go
  internal/controller/servicemgr/notification/mocks/notification_mock.go
  internal/controller/servicemgr/notification/notification.go
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/config/toml_test.go
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/db/bolt/configuration/configuration_test.go
  internal/db/bolt/network/network_test.go
  internal/db/bolt/resource/resource_test.go
  internal/db/bolt/service/service_test.go
  internal/db/bolt/system/system_test.go
  internal/db/bolt/wrapper/wrapper_test.go
  internal/db/helper/helper_test.go
  internal/orchestrationapi/orchestration_test.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/resthelper/helper_test.go
  internal/restinterface/route/tlspskserver/tlspskserver.go
  internal/restinterface/route/tlsserver/tlsserver.go
  internal/restinterface/tls/tls.go
Labels: refactoring

#309 Set service to mdns TXT Records from the environment variable
  internal/controller/discoverymgr/discovery.go
Labels: enhancement

#310 Remove tls-psk from native and android platforms
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  go.mod
  internal/restinterface/route/tlspskserver/tlspskserver.go
  internal/restinterface/route/tlspskserver/tlspskserver_test.go
  internal/restinterface/tls/tls.go
Labels: bug, enhancement

#311 [DataStorage] Add SetYaml function for DataStorage configuration
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/config/toml_test.go
  internal/controller/storagemgr/config/yaml.go
  internal/controller/storagemgr/config/yaml_test.go
Labels: enhancement

#313 Removing all artifacts after cleaning
  Makefile
Labels: bug, refactoring

#308 [DataStorage] Get API for any resource type corrosponding of any device
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: enhancement

#314 [DataStorage] Build configuration files dynamically
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/config/toml_test.go
  internal/controller/storagemgr/mocks/mocks_storage.go
  internal/controller/storagemgr/storage.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestration_test.go
Labels: enhancement

#315 Fix CWE-78
  internal/controller/servicemgr/executor/nativeexecutor/nativeexecutor.go
Labels: bug, high priority

#316 [DataStorage] Connect to the device which is DataStorage service running
  internal/controller/discoverymgr/discovery.go
  internal/controller/storagemgr/mocks/mocks_storage.go
  internal/controller/storagemgr/storage.go
Labels: enhancement

#317 Modify DataStorage.md file based on the contents of docker-compose.yml
  docs/datastorage.md
Labels: documentation

#318 Add initialization of the file system for the orchestrator
  build.sh
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  docs/platforms/x86_64_linux/x86_64_native.md
  internal/common/fscreator/fscreator.go
  internal/common/fscreator/fscreator_test.go
  tools/create_fs.sh
Labels: documentation, refactoring

#320 [Refactoring] Move GetDeviceID function to db/helper
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/discoverymgr/mocks/mocks_discoverymgr.go
  internal/db/helper/helper.go
  internal/db/helper/helper_test.go
  internal/db/helper/mocks/mock_helper.go
Labels: refactoring
