Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-11, with the labels that each got.

#410 [DataStorage]Replace getDeviceID functions in storage.go file with helper.go
  internal/controller/storagemgr/storage.go
Labels: refactoring

#416 Use multi-stage build
  .github/workflows/build_publish.yml
  Makefile
  configs/defdockerfiles/ubuntu_multistage
  script/install-golang.sh
Labels: enhancement

#417 Update CODEOWNERS for automated reviewer assignment
  .github/CODEOWNERS
Labels: documentation

#418 Push the multi-architecture container images into Docker Hub when tagged
  .github/workflows/build_publish.yml
  .github/workflows/publish.yml
Labels: enhancement, high priority

#420 [Security] Update containerd and image-spec to fix CVE-2021-41190
  .github/SECURITY.md
  go.mod
Labels: bug, high priority, security

#422 Remove unused code and data
  configs/defdockerfiles/ubuntu_multistage
  tools/manifest.yaml
Labels: refactoring

#423 Add description of Data Storage REST API
  docs/datastorage.md
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#424 Update Ubuntu (16.04->18.04) as the basic image of edge-orchestration…
  configs/defdockerfiles/ubuntu
Labels: refactoring
