Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-12, with the labels that each got.

#428 Assign the tag version automatically while building container images at github workflow
  .github/workflows/publish.yml
  configs/defdockerfiles/ubuntu_multistage
Labels: enhancement, CI

#433 Update deprecated client.NewEnvClient function
  internal/controller/servicemgr/executor/containerexecutor/ce_docker.go
  staticcheck.conf
Labels: refactoring, high priority

#435 Update version (v1.1.2)
  Makefile
Labels: VersionTag

#434 Add initial prototype of Web UI
  .gitignore
  cmd/edge-orchestration/main.go
  configs/defdockerfiles/ubuntu
  configs/defdockerfiles/ubuntu_multistage
  internal/webui/webui.go
  web/static/index.html
Labels: enhancement, UI

#437 Remove unused code
  cmd/edge-orchestration/capi/main.go
  internal/restinterface/tls/tls.go
  internal/restinterface/tls/tls_test.go
  staticcheck.conf
Labels: bug, refactoring, security

#438 Add 'boring-cyborg' configuration file for auto labeling
  .github/boring-cyborg.yml
Labels: CI

#439 Add github-actions-workflow: PR reviewer reminder
  .github/workflows/pull-request-reviewer-reminder.yml
Labels: CI

#436 [CloudSync] Base Code to connect to MQTT broker running on AWS
  Kconfig
  Makefile
  cmd/edge-orchestration/main.go
  configs/defconfigs/x86_64c
  go.mod
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestration_test.go
  internal/orchestrationapi/orchestrationapi.go
Labels: enhancement

#444 Move edge-orchestration version from Makefile to VERSION file
  Makefile
  VERSION
Labels: refactoring, high priority

#445 Update version - v1.1.3
  VERSION
Labels: VersionTag

#440 Update boring-cyborg configuration
  .github/boring-cyborg.yml
Labels: high priority, CI

#446 [CloudSync] Adding the API to be exposed to thirdparty for Data Publish
  Makefile
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestration_test.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: base code, mqtt
