Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-09, with the labels that each got.

#375 [DataStorage] Add unit test for Base64
  internal/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: refactoring

#377 Add GetLogLevel() to Logmgr
  docs/platforms/x86_64_linux/x86_64_linux.md
  internal/common/logmgr/logmgr.go
  internal/common/logmgr/logmgr_test.go
Labels: enhancement

#373 [DataStorage] API for Multiple Reading based on start and end timestamp
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: enhancement

#378 [DataStorage] Add the Data Storage REST API description
  api/data_storage_api.yaml
Labels: documentation

#380 Add Application DB
  internal/common/types/configuremgrtypes/configuremgrtypes.go
  internal/controller/configuremgr/configuremgr.go
  internal/db/bolt/application/application.go
  internal/db/bolt/application/application_test.go
  internal/db/bolt/application/mocks/mocks_application.go
Labels: enhancement

#381 [DataStorage] Update Data Storage REST API description
  api/data_storage_api.yaml
Labels: documentation

#384 [Security] Update the containerd pkg to mitigate vulnerabilities
  go.mod
Labels: bug, high priority

#383 Remove unused data (ScoringMethod) from *.conf files
  internal/controller/configuremgr/configuremgr_test.go
  internal/controller/configuremgr/description/doc.go
  internal/controller/configuremgr/testdata/mysum/libmysum.so.1.0.1
  internal/controller/configuremgr/testdata/mysum/mysum.conf
  internal/controller/configuremgr/testdata/score/score.conf
  internal/controller/scoringmgr/.gitignore
  internal/controller/scoringmgr/mock_internal/mock_lib_add.go
  internal/controller/scoringmgr/mock_internal/mock_score.go
  internal/controller/scoringmgr/mock_internal/myscoring/Makefile
  internal/controller/scoringmgr/mock_internal/myscoring/myscoring.c
  test/container/datastorage/datastorage.conf
  test/native/ls_srv/ls_srv.conf
Labels: documentation, refactoring

#385 Add Service Application Execution with Application DB
  internal/controller/servicemgr/executor/containerexecutor/containerexecutor.go
  internal/controller/servicemgr/servicemgr.go
  internal/db/helper/helper.go
  internal/db/helper/helper_test.go
  internal/db/helper/mocks/mock_helper.go
  internal/orchestrationapi/orchestrationapi.go
  internal/orchestrationapi/orchestrationapi_test.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/externalhandler/externalhandler_test.go
Labels: enhancement

#387 Fix Android archive build
  Makefile
Labels: bug, high priority

#388 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#389 Add android workflow
  .github/workflows/build.yml
Labels: enhancement

#391 [DataStorage] Use Official device SDK 1.4.0 and remove redirection
  go.mod
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/storage.go
Labels: bug
