Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2021-08, with the labels that each got.

#345 Integration staticcheck tool to CI and fix some warnings
  .github/workflows/lint-vet-gofmt-staticcheck-analysis.yml
  Makefile
  cmd/edge-orchestration/javaapi/javaapi.go
  docs/testing_policy.md
  internal/common/commandvalidator/blacklist/blacklist.go
  internal/common/commandvalidator/commands/commands.go
  internal/common/commandvalidator/commandvalidator.go
  internal/common/commandvalidator/injectionchecker/injectionchecker.go
  internal/common/logmgr/logmgr.go
  internal/common/networkhelper/networkhelper.go
  internal/common/requestervalidator/requesterstore/requesterstore.go
  internal/common/requestervalidator/requestervalidator.go
  internal/common/resourceutil/cpu.go
  internal/common/resourceutil/cpu/cpu.go
  internal/common/resourceutil/cpu/cpu_test.go
  internal/common/resourceutil/memory.go
  internal/common/resourceutil/network.go
  internal/common/resourceutil/roundtriptime.go
  internal/common/sigmgr/sigmgr.go
  internal/controller/configuremgr/native/native.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/discovery_test.go
  internal/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/scoringmgr/scoringmgr.go
  internal/controller/securemgr/authenticator/authenticator.go
  internal/controller/securemgr/authenticator/authenticator_test.go
  internal/controller/securemgr/authorizer/authorizer.go
  internal/controller/securemgr/verifier/verifier.go
  internal/controller/servicemgr/executor/androidexecutor/androidexecutor.go
  internal/controller/servicemgr/servicemgr_test.go
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/db/bolt/network/network.go
  internal/db/helper/helper.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/client/restclient/restclient.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/route/route_test.go
  internal/restinterface/tls/tls.go
  staticcheck.conf
Labels: enhancement, refactoring

#346 Update Go compiler version
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-vet-gofmt-staticcheck-analysis.yml
  .github/workflows/test-suite.yml
  docs/platforms/orange_pi3/orange_pi3.md
  docs/platforms/raspberry_pi3/raspberry_pi3.md
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#351 [DataStorage] Refactor functions and update test code
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/controller/storagemgr/storagedriver/storagehandler_test.go
Labels: refactoring

#349 [Refactoring] Export the getServerIP function
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: refactoring

#343 [Cloud Synchronization] Configuration for MQTT base cloud Sync
  deployments/datastorage/docker-compose.yml
  docs/cloud_setup_mqtt.md
  docs/images/CloudSync/ConnectToHiveMQ.png
  docs/images/CloudSync/HiveMQTTMessages.png
  docs/images/CloudSync/HiveMQTTWebClient.png
  docs/images/CloudSync/ProducerConsumer.png
  docs/images/CloudSync/RoleOfMQTT.png
Labels: enhancement

#352 Update testing guide
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/testing_policy.md
  go.mod
Labels: bug, documentation

#354 [DataStorage] Remove unused error messages.
  internal/controller/storagemgr/error/errorconstants.go
Labels: refactoring

#355 [DataStorage] Fix golint warnings
  internal/controller/storagemgr/config/toml.go
  internal/controller/storagemgr/config/yaml.go
  internal/controller/storagemgr/config/yaml_test.go
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagedriver.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: bug, refactoring

#357 Update jwt package
  Makefile
  go.mod
  internal/controller/securemgr/authenticator/authenticator.go
  tools/jwt_gen.sh
Labels: bug, refactoring

#356 Update DataStorage Document
  docs/datastorage.md
  docs/platforms/x86_64_linux/x86_64_linux.md
Labels: documentation

#359 fix lint warnings
  internal/controller/securemgr/authenticator/authenticator.go
  internal/controller/securemgr/authorizer/authorizer.go
  internal/controller/securemgr/verifier/verifier.go
  internal/restinterface/route/tlsserver/tlsserver.go
Labels: bug, refactoring

#358 [Refactoring] Added/Revised Comments for the exported functions (#353)
  internal/common/resourceutil/cpu/cpu.go
  internal/common/types/configuremgrtypes/configuremgrtypes.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/scoringmgr/scoringmgr.go
  internal/controller/servicemgr/executor/androidexecutor/androidexecutor.go
  internal/controller/servicemgr/types.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/senderresolver/senderresolver.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/resthelper/client/client.go
  internal/restinterface/resthelper/client/httphelper/httphelper.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/resthelper/helper.go
  internal/restinterface/route/route.go
Labels: refactoring

#367 Final correction of all lint warnings
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  internal/controller/servicemgr/executor/androidexecutor/androidexecutor.go
Labels: bug, refactoring

#369 Update Staticcheck configuration: more stringent code quality require…
  staticcheck.conf
Labels: enhancement, refactoring

#370 Add a requester URL to the container as an environment variable
  internal/controller/servicemgr/executor/containerexecutor/containerexecutor.go
Labels: enhancement
