Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-05, with the labels that each got.

#549 [CloudSync]Updated the code as per new Design
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: base code, mqtt

#550 Refactor tlshelper & increase test coverage
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper_test.go
  internal/restinterface/resthelper/helper.go
Labels: base code

#551 Add pattern of test file and update pull_request_template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
  docs/testing_policy.md
  internal/common/fscreator/fscreator.go
Labels: documentation, CI, base code

#559 Update 3rd-party components
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#562 Update version - v1.1.13
  VERSION
Labels: VersionTag

#563 Expand test coverage of mqtt
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/discoverymgr/wrapper/wrapper_test.go
Labels: base code, mqtt, tc

#564 Expand test coverage of scoringmgr, internalhandler, tlsserver
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/scoringmgr/scoringmgr_test.go
  internal/restinterface/internalhandler/internalhandler_test.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper_test.go
  internal/restinterface/route/route.go
  internal/restinterface/route/tlsserver/tlsserver.go
  internal/restinterface/route/tlsserver/tlsserver_test.go
Labels: base code, tc

#566 Increase test coverage
  internal/common/networkhelper/networkhelper_test.go
  internal/common/resourceutil/cpu.go
  internal/common/resourceutil/cpu/cpu.go
  internal/common/resourceutil/cpu/cpu_test.go
  internal/common/resourceutil/resourceutil_test.go
  internal/controller/configuremgr/configuremgr_test.go
  internal/orchestrationapi/orchestration_test.go
  internal/restinterface/client/restclient/restclient_test.go
  internal/restinterface/resthelper/helper_test.go
Labels: high priority, base code, tc

#569 APIV1Ping return 'nil' change to []byte 'Pong'
  internal/restinterface/internalhandler/internalhandler.go
Labels: base code
