Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-03, with the labels that each got.

#503 [DataStorage] APIs to add Event and delete Events from database based on event ids
  internal/controller/storagemgr/storagedriver/storagehandler.go
Labels: base code

#507 Fix CWE-200 and update 3rd-party components
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: documentation, security, CI, config

#508 TC for the SanitizeUserInput function
  internal/common/logmgr/logmgr_test.go
Labels: base code

#506 [CloudSync] Adding API to subscribe to a topic
  internal/common/mqtt/mqttconnection.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: base code, mqtt

#517 Update version - v1.1.9
  VERSION
Labels: VersionTag

#521 Update 3rd-party components
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#529 TOML bug fix derived from version update
  internal/controller/storagemgr/config/toml.go
Labels: bug, high priority, base code

#526 Update 3rd-party components
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#530 Add GetServerIP and GetMetadataServerIP test code
  internal/controller/storagemgr/config/toml_test.go
  internal/controller/storagemgr/config/yaml_test.go
Labels: high priority, base code

#534 Update version - v1.1.10
  VERSION
Labels: VersionTag

#520 Code update to use MQTT broker in secure mode (mutual authentication …
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  docs/cloudsync_mqtt.md
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/secure_manager.md
  internal/common/fscreator/fscreator.go
  internal/common/mqtt/mqttconfig.go
  internal/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  internal/controller/securemgr/securemgr.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/route/tlsserver/tlsserver.go
  tools/gen_ca_cert.sh
  tools/gen_hen_cert.sh
Labels: documentation, security, tools, base code, mqtt

#531 Apply reactjs template
  .gitignore
  Makefile
  configs/defdockerfiles/ubuntu
  configs/defdockerfiles/ubuntu_multistage
  web/README.md
  web/build/asset-manifest.json
  web/build/index.html
  web/build/manifest.json
  web/build/robots.txt
  web/build/static/css/main.a9f779e9.css
  web/build/static/css/main.a9f779e9.css.map
  web/build/static/js/787.c677f5c2.chunk.js
  web/build/static/js/787.c677f5c2.chunk.js.map
  web/build/static/js/main.21d071f8.js
  web/build/static/js/main.21d071f8.js.LICENSE.txt
  web/build/static/js/main.21d071f8.js.map
  web/build/static/media/logo.e8fa1cf07048b4db04dbdf33de77576b.svg
  web/package.json
  web/public/index.html
  web/public/manifest.json
  web/public/robots.txt
  web/src/App.css
  web/src/App.js
  web/src/App.test.js
  web/src/index.css
  web/src/index.js
  web/src/logo.svg
  web/src/reportWebVitals.js
  web/src/setupTests.js
  web/static/index.html
Labels: documentation, Web UI, config

#532 [CloudSync] Save the Subscribed data & Adding API to get data
  docs/cloudsync_mqtt.md
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: documentation, base code, mqtt
