Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-07, with the labels that each got.

#591 Update 3rd-party components
  .github/workflows/codeql.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#593 Create makefile rule to build binary files only
  Makefile
Labels: high priority

#594 TxT record parse as in Android
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/wrapper/wrapper.go
Labels: base code

#595 Refactor Service List assigning logic from TXT
  internal/controller/discoverymgr/wrapper/wrapper.go
Labels: refactoring, base code

#596 syntax highlightening
  docs/cloudsync_mqtt.md
Labels: documentation

#597 Remove StatusCallbackURI from the documents.
  api/edge_orchestration_api.yaml
  api/edge_orchestration_api_secure.yaml
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/platforms/x86_64_linux/x86_64_native.md
  docs/secure_manager.md
Labels: documentation
