Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-02, with the labels that each got.

#458 [Cloudsync] Added testcases to improve the Code coverage for MQTT
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/restinterface/externalhandler/externalhandler_test.go
Labels: base code, mqtt

#453 [Security] Move securemgr components initialization to securemgr.go
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  internal/controller/securemgr/securemgr.go
Labels: security, base code

#461 Add OpenSSF Scoring Card analysis to github->action workflow
  .github/workflows/scorecards-analysis.yml
Labels: CI

#462 Add code review requirements
  docs/code_review_requirements.md
Labels: documentation

#466 Fix CWE-117
  .github/SECURITY.md
  internal/controller/securemgr/verifier/verifier.go
Labels: documentation, high priority, security, CI, base code

#468 Update version - v1.1.6
  VERSION
Labels: VersionTag

#464 Remove build time stamp to be able to create a reproduced build
  Makefile
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  docs/platforms/x86_64_linux/x86_64_android.md
  docs/platforms/x86_64_linux/x86_64_linux.md
  docs/platforms/x86_64_linux/x86_64_native.md
Labels: documentation

#465 [CloudSync] Adding TLS to secure MQTT Client Broker Communication
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
Labels: base code, mqtt

#470 Check input parameter (hash) of verifier and refactore the log messag…
  internal/controller/securemgr/authenticator/authenticator.go
  internal/controller/securemgr/authorizer/authorizer.go
  internal/controller/securemgr/verifier/verifier.go
  internal/controller/securemgr/verifier/verifier_test.go
  internal/restinterface/externalhandler/externalhandler.go
  tools/jwt_gen.sh
Labels: security, tools, base code

#472 Add format check in cmd folder
  .github/workflows/lint-vet-gofmt-staticcheck-analysis.yml
  Makefile
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
Labels: CI

#469 [CloudSync] Documentation for Setup and Communication between MQTT Broker and Client
  docs/cloudsync_mqtt.md
  docs/images/CloudSync/EC2-1.png
  docs/images/CloudSync/EC2-2.png
  docs/images/CloudSync/EC2-3.png
  docs/images/CloudSync/EC2-4.png
  docs/images/CloudSync/EC2-5.png
  docs/images/CloudSync/EC2-6.png
  docs/images/CloudSync/EC2-7.png
  docs/images/CloudSync/EC2-8.png
  docs/images/CloudSync/EC2-9.png
  docs/images/CloudSync/MQTTArchitecture.png
Labels: documentation

#475 [HOT FIX] Update version - v1.1.7
  VERSION
Labels: VersionTag

#476 Update github.com/docker/distribution due to CWE-843
  .github/SECURITY.md
  go.mod
Labels: documentation, security, CI, config

#482 [CI] Add depependabot configuration file
  .github/dependabot.yml
Labels: CI

#493 Update 3-rd party components
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#483 [CloudSyncMgr] Renaming the CloudSyncMgr API according to functionality to add more APIs
  docs/cloudsync_mqtt.md
  docs/secure_manager.md
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/controller/securemgr/authorizer/authorizer.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/externalhandler/externalhandler_test.go
Labels: documentation, security, base code

#498 Ignore docker pkg from dependabot since serious consideration is required
  .github/dependabot.yml
Labels: CI

#502 Update version - v1.1.8
  VERSION
Labels: VersionTag
