Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-01, with the labels that each got.

#449 Fix CWE-117
  .github/SECURITY.md
  internal/common/logmgr/logmgr.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/securemgr/verifier/verifier.go
  internal/controller/servicemgr/executor/androidexecutor/androidexecutor.go
  internal/controller/servicemgr/executor/containerexecutor/containerexecutor.go
  internal/controller/servicemgr/executor/nativeexecutor/nativeexecutor.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/client/restclient/restclient.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/resthelper/helper.go
  internal/restinterface/route/route.go
Labels: documentation, high priority, security, CI, base code

#450 Update version - v1.1.4
  VERSION
Labels: VersionTag

#452 [CloudSync] Saving the Client Data to avoid reconnection for same client in same home edge session
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: base code, mqtt

#455 [Security] Update the rbac policy template and description
  docs/secure_manager.md
  internal/controller/securemgr/authorizer/authorizer.go
Labels: documentation, security, base code

#456 Refactore the log message format
  cmd/edge-orchestration/capi/main.go
  cmd/edge-orchestration/javaapi/javaapi.go
  cmd/edge-orchestration/main.go
  internal/common/networkhelper/detector/detector_netlink.go
  internal/common/resourceutil/resourceutil.go
  internal/controller/configuremgr/configuremgr.go
  internal/controller/scoringmgr/scoringmgr.go
  internal/restinterface/cipher/cipher.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/internalhandler/internalhandler.go
Labels: base code

#457 Update Kconfig: Configuring environment variables to run the edge-orc…
  Kconfig
  Makefile
  configs/defconfigs/arm64c
  configs/defconfigs/armc
  configs/defconfigs/armc_alpine
  configs/defconfigs/x86_64a
  configs/defconfigs/x86_64c
  configs/defconfigs/x86_64c_alpine
  configs/defconfigs/x86_64cmc
  configs/defconfigs/x86_64cms
  configs/defconfigs/x86_64cs
  configs/defconfigs/x86_64n
  configs/defconfigs/x86c
Labels: config

#460 Update version - v1.1.5
  VERSION
Labels: VersionTag
