Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-09, with the labels that each got.

#621 Update 3rd-party components
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-vet-gofmt-staticcheck-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  .github/workflows/test-suite.yml
  go.mod
  staticcheck.conf
Labels: CI, config

#622 Update version - v1.1.17
  VERSION
Labels: VersionTag

#624 Fix staticcheck warnings
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection_test.go
  internal/common/requestervalidator/requesterstore/requesterstore.go
  internal/controller/configuremgr/configuremgr.go
  internal/controller/configuremgr/configuremgr_test.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/mnedc/client/client.go
  internal/controller/discoverymgr/mnedc/clientcontrol.go
  internal/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/securemgr/authenticator/authenticator.go
  internal/controller/securemgr/authenticator/authenticator_test.go
  internal/controller/securemgr/authorizer/authorizer.go
  internal/controller/securemgr/verifier/verifier.go
  internal/controller/servicemgr/executor/containerexecutor/config.go
  internal/controller/servicemgr/executor/containerexecutor/config_test.go
  internal/controller/servicemgr/executor/containerexecutor/containerexecutor_test.go
  internal/controller/storagemgr/config/toml_test.go
  internal/controller/storagemgr/storage.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/restinterface/cipher/dummy/cipherDummy.go
  internal/restinterface/cipher/dummy/cipher_test.go
  internal/restinterface/cipher/sha256/cipherSHA256.go
  internal/restinterface/cipher/sha256/cipher_test.go
  internal/restinterface/externalhandler/externalhandler.go
  internal/restinterface/externalhandler/senderresolver/senderresolver.go
  internal/restinterface/externalhandler/senderresolver/senderresolver_test.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper.go
  internal/restinterface/resthelper/client/tlshelper/tlshelper_test.go
  internal/restinterface/resthelper/helper.go
  internal/restinterface/resthelper/helper_test.go
  internal/restinterface/route/tlsserver/tlsserver.go
  internal/restinterface/route/tlsserver/tlsserver_test.go
  staticcheck.conf
Labels: security, base code, mqtt, tc

#625 Add Fuzzing testing: make fuzz and github->action workflow
  .github/workflows/go-fuzz-test.yml
  .gitignore
  Makefile
  docs/testing_policy.md
  internal/controller/securemgr/authorizer/authorizer_test.go
  tools/fuzz-all.sh
Labels: documentation, security, CI, tools, base code, tc

#627 Add ScoreCard badge
  README.md
Labels: documentation

#628 [Documentation] Adding API documentation for CloudSync
  api/cloudsync_api.yaml
Labels: documentation

#629 Install ca-certificate for publish docker container and Update versio…
  VERSION
  configs/defdockerfiles/ubuntu_multistage
Labels: VersionTag, config
