Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-08, with the labels that each got.

#605 [Urgent] Fix github action workflow android build
  .github/workflows/build.yml
Labels: high priority, CI

#599 Update version - v1.1.16
  VERSION
Labels: VersionTag

#606 Update 3rd-party components
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
  go.mod
Labels: CI, config

#608 Fix codeowner list & update CI
  .github/CODEOWNERS
  .github/workflows/codeql.yml
  .github/workflows/scorecards-analysis.yml
Labels: CI

#613 Fix source files format
  cmd/edge-orchestration/capi/main.go
  internal/common/fscreator/fscreator.go
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/networkhelper/networkhelper.go
  internal/common/resourceutil/cpu/cpu.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/mnedc/client/client.go
  internal/controller/discoverymgr/mnedc/clientcontrol.go
  internal/controller/discoverymgr/mnedc/connectionutil/networkconnectionutil.go
  internal/controller/discoverymgr/mnedc/server/client_conn.go
  internal/controller/discoverymgr/mnedc/server/server.go
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/controller/discoverymgr/mnedc/tunmgr/tun.go
  internal/controller/discoverymgr/types.go
  internal/controller/servicemgr/executor/containerexecutor/config.go
  internal/controller/servicemgr/executor/containerexecutor/config_test.go
  internal/controller/storagemgr/storagedriver/storagehandler.go
  internal/db/bolt/network/network.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/client/restclient/restclient.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/restinterface.go
Labels: base code, mqtt, tc

#615 [ScoringManager] Change the score API from GET to POST
  internal/orchestrationapi/orchestrationapi.go
  internal/orchestrationapi/orchestrationapi_test.go
  internal/restinterface/client/client.go
  internal/restinterface/client/mocks/mocks_client.go
  internal/restinterface/client/restclient/restclient.go
  internal/restinterface/client/restclient/restclient_test.go
  internal/restinterface/internalhandler/internalhandler.go
  internal/restinterface/internalhandler/internalhandler_test.go
Labels: base code, tc

#614 Replaced the "os" (ubuntu-18.04) for CI build, test-suite with a newe…
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/test-suite.yml
  configs/defdockerfiles/ubuntu
  configs/defdockerfiles/ubuntu_multistage
Labels: high priority, CI, config
