Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-06, with the labels that each got.

#580 Update github-actions dependencies
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards-analysis.yml
Labels: CI

#571 Run test-suite workflow one by one for each os.
  .github/workflows/test-suite.yml
Labels: bug, high priority, CI

#582 Fix CWE-400, CWE-296
  .github/SECURITY.md
  .github/workflows/scorecards-analysis.yml
  go.mod
  internal/controller/discoverymgr/discovery.go
  internal/controller/discoverymgr/mnedc/client/client.go
  internal/controller/storagemgr/config/yaml.go
Labels: documentation, high priority, security, CI, config, base code, github_actions

#583 Update version - v1.1.14
  VERSION
Labels: VersionTag
