Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-12, with the labels that each got.

#653 Change t25kim to tiokim
  .github/CODEOWNERS
Labels: CI

#655 Update containerd pkg to fix CVE-2022-23471
  .github/SECURITY.md
  go.mod
Labels: documentation, security, CI, config

#656 Remove lgtm badge
  README.md
Labels: documentation
