Repository lf-edge/edge-home-orchestration-go, pull requests merged in 2022-04, with the labels that each got.

#536 Fix CWE-20,129
  .github/SECURITY.md
  go.mod
Labels: documentation, security, CI, config

#533 Increase test coverage
  .github/workflows/test-suite.yml
  internal/common/errormsg/errormsg_test.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/servicemgr/executor/executor_test.go
  internal/restinterface/externalhandler/senderresolver/senderresolver.go
  internal/restinterface/externalhandler/senderresolver/senderresolver_test.go
  internal/restinterface/restinterface_test.go
  internal/restinterface/route/route_test.go
  internal/restinterface/tls/tls_test.go
Labels: CI, base code, mqtt

#540 Update 3rd-party components
  .github/workflows/codeql.yml
  .github/workflows/scorecards-analysis.yml
  .gitignore
  go.mod
Labels: CI, config

#539 Update version - v1.1.11
  VERSION
Labels: VersionTag

#543 Update externalhandler test coverage
  Makefile
  internal/restinterface/externalhandler/externalhandler_test.go
Labels: base code

#545 Expand test coverage of authenticator, cipher
  internal/controller/securemgr/authenticator/authenticator.go
  internal/controller/securemgr/authenticator/authenticator_test.go
  internal/restinterface/cipher/dummy/cipherDummy.go
  internal/restinterface/cipher/dummy/cipher_test.go
  internal/restinterface/cipher/sha256/cipherSHA256.go
  internal/restinterface/cipher/sha256/cipher_test.go
Labels: security, base code, mqtt

#546 Add description about reproducible build
  .github/SECURITY.md
Labels: documentation, security, CI

#544 [CloudSync] Update CloudSync code as per new Design
  docs/cloudsync_mqtt.md
  internal/common/mqtt/mqttconfig.go
  internal/common/mqtt/mqttconnection.go
  internal/common/mqtt/mqttconnection_test.go
  internal/controller/cloudsyncmgr/cloudsync.go
  internal/controller/cloudsyncmgr/mocks/mocks_cloudsync.go
  internal/orchestrationapi/mocks/mock_orchestration.go
  internal/orchestrationapi/orchestration.go
  internal/orchestrationapi/orchestrationapi.go
  internal/restinterface/externalhandler/externalhandler.go
Labels: documentation, base code, mqtt

#547 Refactor tlsserver and increase test coverage
  internal/controller/discoverymgr/mnedc/servercontrol.go
  internal/restinterface/route/route.go
  internal/restinterface/route/route_test.go
  internal/restinterface/route/tlsserver/tlsserver.go
  internal/restinterface/route/tlsserver/tlsserver_test.go
Labels: base code

#552 Update version - v1.1.12
  VERSION
Labels: VersionTag
